:root {
    --ancho-carta: calc(100vw/12);
    --alto-carta: calc(var(--ancho-carta)*1.452)
}

body {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 20px;
    width: 80%;
}

.hide {
    transition: 0.01s;
    transform: translateX(-9999px);
}

#newgame {
    align-content: left;
}

#counter {
    align-content: right;
}

.imgResponsive {
    width: var(--ancho-carta);
    min-width: calc(var(--ancho-carta)/2);
    max-width: calc(var(--ancho-carta)*2);
    height: auto;
}

#boardContainer {
    background-color: rgb(11, 137, 11);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: var(--alto-carta) calc(var(--alto-carta)*3);
    grid-column-gap: 0;
    grid-row-gap: 20px;
    width: 100vw;
    height: 200vh;
    padding: 0;
}

.upperrow {
    width: var(--ancho-carta);
    min-width: calc(var(--ancho-carta)/2);
    max-width: calc(var(--ancho-carta)*2);
    height: var(--alto-carta);
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.separator {
    width: var(--ancho-carta);
    min-width: calc(var(--ancho-carta)/2);
    max-width: calc(var(--ancho-carta)*2);
    height: var(--alto-carta);
}

#mazoT {
    position: relative;
    width: var(--ancho-carta);
    min-width: calc(var(--ancho-carta)/2);
    max-width: var(--alto-carta);
    margin-left: 10px;
}

#mazoP {
    margin-top: 10px;
    margin-left: 10px;
}

#mazo3 {
    margin-right: 10px;
}

.pila {
    position: relative;
    width: var(--ancho-carta);
    min-width: calc(var(--ancho-carta)/2);
    max-width: var(--alto-carta);
}